<!DOCTYPE html>
<!-- 레이아웃 구성 방법은 책 "모던 웹 디자인을 위한 HTML5 + CSS3입문"참고. -->
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- web fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
        <!-- AJAX로 프로젝트 목록 불러오기 -->
        <script src="./js/subject_list.js"></script>
    </head>
    <body>
        <%- include("./header") %>
        <!-- content -->
        <div id="content" class="container-fluid">
          <div class="subject row col-8 mx-auto">
            <label class="subject-title mx-auto my-auto">Title : <%= subject.title %></label>
          </div>
          
          <div class="subject row col-8 mx-auto">
            <label class="subject-author mx-auto my-auto">Author : <%= subject.author %></label>
          </div>
          
          <div class="subject row col-8 mx-auto">
            <label class="subject-desc mx-auto my-auto">Experience : <%= subject.exp %></label>
          </div>
          
          <div class="subject row col-8 mx-auto">
            <section readonly class=" col-12 subject-desc mx-auto my-auto">
            <p>Description</p>
            <%= subject.desc %></section>
          </div>

          <div class="subject row col-8 mx-auto">
            <label class="subject-desc mx-auto my-auto"><a href="/<%= subject.filepath %>">Download</a></label>
          </div>

          <!-- if not subscribed, subscribe button. else, submit button -->
          <% if (!status) { %>
            <div class="subject row col-8 mx-auto">
              <label class="subject-desc mx-auto my-auto"><a href="/subscribe/<%= subject.title %>">Subscribe</a></label>
            </div>
          <% } else { %>
            <% if (status == 'inprogress') { %>
            <div class="subject row col-8 mx-auto">
              <label class="subject-desc mx-auto my-auto"><a href="/view/submit/<%= subject.title %>">Submit</a></label>
            </div>
            <% } else if (status == 'closed') {  %>
              <div class="subject row col-8 mx-auto">
                <label class="subject-desc mx-auto my-auto"><a href="/view/eval/<%= subject.title %>">Evaluation</a></label>
              </div>
            <% } %>
          <% } %>
        </div>
        <footer>
        </footer>
    </body>
</html>
